<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.piceasy.tools">

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!--播放视频的权限和兼容Android11广告触发-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!--穿山甲必要权限，解决安全风险漏洞，发送和注册广播事件需要调用带有传递权限的接口-->
    <permission
        android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />

    <!--解决android 11无法拉起微信支付的问题-->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullScreenAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.base.BaseActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.MineActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.AboutUsActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.AgreementActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.activity.FeedbackActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.activity.PhotoFaceMergeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.QuestionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoAgeTransActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoGenderTransActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoMorphActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoColourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoContrastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoDefinitionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoResizeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoWatermarkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoCartoonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoTransStyleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoDefoggingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoStretchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoZipActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoFormatTransActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PhotoMattingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

<!--        <activity-->
<!--            android:name="com.bytedance.applog.util.SimulateLaunchActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="fullSensor" />-->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!-- Pangle start================== -->

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pangle_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!-- Pangle end================== -->

        <!-- sigmob start================== -->
        <activity
            android:name="com.sigmob.sdk.base.common.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/sig_transparent_style" />

        <provider
            android:name="com.sigmob.sdk.SigmobFileProvider"
            android:authorities="${applicationId}.sigprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sigmob_provider_paths" />
        </provider>
        <!-- sigmob end================== -->

        <!-- baidu start================== -->
        <!-- 声明打开落地页的Activity（不建议修改主题配置）-->
        <activity
            android:name="com.baidu.mobads.sdk.api.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <!-- 声明打开显示激励视频/全屏视频的Activity-->
        <activity
            android:name="com.baidu.mobads.sdk.api.MobRewardVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 如果targetSdkVersion设置值>=24，则强烈建议添加以下provider，否则会影响app变现 -->
        <!-- android:authorities="${packageName}.bd.provider" authorities中${packageName}部分必须替换成app自己的包名 -->
        <!-- 原来的FileProvider在新版本中改为BdFileProvider,继承自v4的FileProvider,需要在应用内引用support-v4包 -->
        <provider
            android:name="com.baidu.mobads.sdk.api.BdFileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths" />
        </provider>
        <!-- baidu end================== -->

        <!-- GDT start================== -->
        <!-- targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值，例如本例中applicationId为"com.qq.e.union.demo"。 -->
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />

        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- GDT end================== -->

    </application>

</manifest>